body{
    background-color: black;
    margin: auto;
}
header{
    background-color: black;
    border-color: aqua;
    border-radius: 0px 0px 20px 20px;
    border-width: 2.5px;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom-style: outset;
    border-right-style: outset;
    border-left-style: outset;
}
main{
    display: flex;
    height: 650px;
    margin: auto;
    flex-direction: column;
    align-items: stretch;
}
p{
    color: rgb(255, 255, 255);
    margin: unset;
}
ul{
    display: flex;
    list-style-type: none;
    margin-block-start: unset;
    margin-block-end: unset;
    margin-inline-start: unset;
    margin-inline-end: unset;
    padding-inline-start: unset;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    margin-top: auto;
    margin-bottom: auto;
}
li{
    color: #fff;
    list-style-type: none;
}
h1{
    margin: auto;
    color: #fff;
    font-family: sans-serif
}
h2{
    color: rgb(255, 255, 255);
    margin: unset;
}
.text_proekt{
    font: 1em sans-serif;
    font-size: 9px;
}
.text_sokrat{
    font-family: sans-serif ;
}
.logo{
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: 35px;
}
.logo_img{
    width: auto;
    height: auto;
    position: absolute;
}
.img_X{
    width: 35px;
    height: 35px;
}
.vopros{
    margin-right: 10px;
    margin-left: auto;
}
.img_vopros{
    width: 7px;
}
.block_osn{
    border-radius: 0px 0px 20px 20px;
    border-width: 2.5px;
    border-bottom-style: outset;
    border-color: aqua;
    display: flex;
    height: 230px;
    width: auto;
    justify-content: space-evenly;
    position: relative;
    align-items: flex-end;
}
.mani{
    height: 80px;
    border-radius: 5%;
}
.box_mani{
    width: 118.17px;
    height: 80px;
    border-radius: 5%;
    margin-bottom: auto;
    margin-top: auto;
}
.magazin{
    margin-bottom: auto;
    margin-top: auto;
}
.aftor{
    text-decoration: none;
    color: #fff;
    position: absolute;
}
.text_mani{
    color: rgb(197, 44, 44);
    font: 1em sans-serif;
    font-size: 17px
}
ul>a{
    display: flex;
    height: 30px;
    width: 180px;
    background-color: #3f7ac7;
    border-color:rgb(207 29 29);
    border-width: 4px;
    align-items: center;
    justify-content: center;
    margin: 15px;
    border-radius: 15px 15px 15px 15px;
    font: 1em sans-serif;
    font-size: 15px;
    text-decoration: none;
    color: #fff;
    border-bottom-style: outset;
    transition: all 1s ease;
}
ul>a:active{
    border-width: 2px;
    border-bottom-style: outset;
    border-color:rgb(207 29 29);
}
.spisok_menu{
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin-top: auto;
    margin-bottom: auto;
    height: auto;
    width: auto;
}
.podval{
    display: flex;
    border-radius: 20px 20px 0px 0px;
    border-width: 2.5px;
    border-top-style: outset;
    border-color: aqua;
    margin-top: auto;
    margin-bottom: auto;
    align-items: center;
    flex-direction: row;
}
.ikon_podval{
    height: 30px;
    border-radius: 100%;
}
.a_tg{
    margin-left: 15px;
    margin-right: auto;
    margin-top: 5px;
}
.a_vk{
    margin-left: 0px;
    margin-right: auto;
    margin-top: 5px;
}
.nomer{
    font: 1em sans-serif;
    font-size: 15px;
    margin-left: auto;
    margin-right: 10px;
    text-decoration: none;
    color: rgb(58, 168, 168);
}
